p {
    font-family: 'AmaticSCBold';
    font-weight: bold;
    font-style: normal;
    font-size: 2em;
 }
 h3 {
    font-family: 'CagliostroRegular';
    font-weight: normal;
    font-style: normal;
    font-style: 32px;
 }

 .nav-item:hover{
    text-decoration: underline;
}
.container{
    padding: 10px;
     background-image: url('g.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     opacity: 0.7;
    
 }